/Lesson4/__pycache__/
/Verification_work/__pycache__/
/Lesson7/__pycache__/
/Lesson7/Task1/__pycache__/
/Lesson7/Task2/__pycache__/
/Lesson7/Task3/__pycache__/
/Lesson7/Task1/PagesTask1/__pycache__/
/Lesson7/Task2/PagesTask2/__pycache__/
/Lesson7/Task3/PagesTask3/__pycache__/
/Lesson8/__pycache__/
